<%= link_to 'Reroll', '/' %>

<h1><%= @superbeing.name %></h1>
<p>
  Origin: <strong><%= @superbeing.origin %></strong><br />
  Stats:
  <ul>
    <% @superbeing.stats.each do |stat, val| %>
      <li><%= "#{stat.to_s.titleize}: #{val}" %></li>
    <% end %>
  </ul>
  Powers:
  <ul>
    <% @superbeing.powers.each do |power| %>
      <li><%= power %></li>
    <% end %>
  </ul>

  Skills:
  <ul>
    <% @superbeing.degrees.each do |degree| %>
      <li><%= degree %></li>
    <% end %>
  </ul>
</p>
