<%= link_to 'Reroll', '/' %>

<h1><%= @superbeing.name %></h1>
<p>
  <strong>Origin:</strong> <%= @superbeing.origin %>
</p>
<div>
  <strong>Stats:</strong>
  <ul>
    <% @superbeing.stats.each do |stat, val| %>
      <li><%= "#{stat.to_s}: #{val}" %></li>
    <% end %>
  </ul>

  <strong>Powers:</strong>
  <ul>
    <% @superbeing.powers.each do |power| %>
      <li><%= power.to_s %></li>
    <% end %>
  </ul>

  <strong>Skills:</strong>
  <ul>
    <% @superbeing.degrees.each do |degree| %>
      <li><%= degree %></li>
    <% end %>
  </ul>

  <% unless @superbeing.weaknesses.empty?  %>
    <strong>Weaknesses:</strong>
    <ul>
      <% @superbeing.weaknesses.each do |weakness| %>
        <li>Weak vs: <%= weakness %></li>
      <% end %>
    </ul>
  <% end %>
</div>
